.main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    background-color: rgb(0, 0, 0);
    background-image: linear-gradient(to right, black, rgb(53, 53, 53));
    margin: 20rem;
    padding: 10px;
    border-radius: 20px;
}
.joke,h2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}
#jokebtn{
    margin-left: 40rem;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 40px;
}
h2{
    color: rgb(255, 132, 0);
}
